<app-sidenav></app-sidenav>

<h2 class="title">Router Datalines</h2>
<div class="database-container">
    <ul class="base-info flexStyle">
        
        <li>id</li>
        <li>Nome</li>
        <li>Fabricante</li>
        <li>Garantia</li>
        <li>Suporte</li>
    </ul>
    
    <ul class="data-base flexStyle">
        <li>#3sda4D</li>
        <li>TP-LINK</li>
        <li>CISCO</li>
        <li>SIM</li>
        <li>5 meses</li>
    </ul>
    <ul class="data-base flexStyle">
        <li>%456SDA</li>
        <li>TP-ROUTER</li>
        <li>HAUSZXD</li>
        <li>NÃO</li>
        <li>5 ANOS</li>
    </ul>


