<router-outlet></router-outlet>

<div id="side-nav-all" class="">
    <div class="side-nav-container ">
        <ol class="sidenav-box ">
            <a routerLink="/">
            <li class="side-item">
                    <mat-icon class="icon" aria-hidden="true" aria-label="Example home icon">home</mat-icon>
                    <span>Home</span>
                
            </li></a>
            <a routerLink="/database">
            <li class="side-item">
                    <mat-icon class="icon" aria-hidden="true" aria-label="Example home icon">storage</mat-icon>
                    <span>Database</span>
                </li>
            </a>
            <a routerLink="/dashboard">
            <li class="side-item">
                    <mat-icon class="icon" aria-hidden="true" aria-label="Example home icon">dashboard</mat-icon>
                    <span>Dashboard</span>
                </li>
            </a>
            <a routerLink="/management">
            <li class="side-item">
                    <mat-icon class="icon" aria-hidden="true" aria-label="Example home icon">web</mat-icon>
                    <span>Management</span>
                </li>
            </a>
        </ol>
        <!-- <div id="close-button">
            <strong>X</strong>
        </div> -->
    </div>

</div>