<app-sidenav></app-sidenav>
<section id="select-router">
    <h2>Pesquise o roteador</h2>
    <input type="text" name="" id="" placeholder="Digite aqui...">
    <input type="submit" value="Pesquisar">
</section>

<section id="info-container">
    <div class="box-1">
        <h2>Nome do Roteador</h2>
        <img src="../../../../assets/img/roteador.png" alt="">
    </div>
    <div class="box-2">
        <ul class="box-2-list">
        <li class="info-data">Fabricante  -  Cisco</li>
        <li class="info-data">Garantia  -  Sim</li>
        <li class="info-data">Suporte  -  18/06/1999</li>
        <li class="info-data">Justificativa</li>
        </ul>
    </div>
</section>