<h1 class="title">BEM VINDO AO ROTECH</h1>

    <div class="cards-container">
        <div class="card">
            <div class="box">
                <div class="content">
                    <div class="symbol"><img src="../../../../assets/img/database.png" alt=""></div>
                    <h3>router database</h3>
                    <p>Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss, é um leite divinis, qui tem lupuliz,
                        matis, aguis e fermentis. Nullam volutpat risus nec </p>
                    <a routerLink="/database">acessar</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <div class="symbol" ><img style="width: auto; height: 80px;" src="../../../../assets/img/dashboard.png" alt=""></div>
                    <h3>DashBoard</h3>
                    <p>Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss, é um leite divinis, qui tem lupuliz,
                        matis, aguis e fermentis. Nullam volutpat risus nec </p>
                    <a routerLink="/dashboard">acessar</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <div class="symbol"><img src="../../../../assets/img/manutenção.png" alt=""></div>
                    <h3>Management</h3>
                    <p>Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss, é um leite divinis, qui tem lupuliz,
                        matis, aguis e fermentis. Nullam volutpat risus nec </p>
                    <a routerLink="/management">acessar</a>
                </div>
            </div>
        </div>

    </div>
    