<app-sidenav></app-sidenav>

<div id="dashboard">
<div class="info-container">
    <div class="info-box">
        <div class="info-text">
            <strong>1,045</strong>
            <span>Visualizações</span>
        </div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icone">visibility</mat-icon>

    </div>

    <div class="info-box">
        <div class="info-text">
            <strong>800</strong>
            <span>Vendas</span>
        </div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icone">shopping_cart</mat-icon>
    </div>
    
    <div class="info-box">
        <div class="info-text">
            <strong>305</strong>
            <span>Comentários</span>
        </div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icone">question_answer</mat-icon>
    </div>
    
    <div class="info-box">
        <div class="info-text">
            <strong>R$84,450</strong>
            <span>Arrecadados</span>
        </div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icone">attach_money</mat-icon>
    </div>

</div>
<div class="dashboard-boxes">
    <div class="routers-container">
        <div class="routers-header">
            <strong>Roteadores Recentes</strong>
            <button>Ver todos</button>
        </div>
        <div class="routers-list">
            <div class="routers-list-name">
                <strong>Nome</strong>
                <strong>Fabricante</strong>
                <strong>Garantia</strong>
                <strong>Suporte</strong>
            </div>
            <div class="routers-list-data">
                <span>tp-link</span>
                <span>cisco</span>
                <span>sim</span>
                <span>20/05/2022</span>
            </div>


            <div class="routers-list-data">
                <span>tp-link</span>
                <span>cisco</span>
                <span>sim</span>
                <span>20/05/2022</span>
            </div>

            



        </div>
    </div>

    <div class="clients-container">

        <div class="clients-header">
            <strong>Clientes Recentes</strong>
        </div>
        <div class="client-list">
            <div class="client-info">
                <img src="../../../../assets/img/sadia logo.png" alt="">
                <div class="info-text">
                <strong>Sadia</strong>
                <span>São Paulo</span>
                </div>
            </div>

            <div class="client-info">
                <img src="../../../../assets/img/sadia logo.png" alt="">
                <div class="info-text">
                    <strong>XGamer</strong>
                    <span>Rio de Janeiro</span>
                </div>

        <strong>Clientes Recentes</strong>
        <div class="client-list">
            <div class="client-info">
                <img src="../../../../assets/img/gear.png" alt="">
                <strong>Sadia</strong>
                <span>São Paulo</span>
            </div>

            <div class="client-info">
                <img src="../../../../assets/img/gear.png" alt="">
                <strong>XGamer</strong>
                <span>Rio de Janeiro</span>

            </div>

        </div>
    </div>
</div>
</div>
